
		<div id="heading">
		<h1>Registration Numbers</h1>
		
		<img src="plate.jpg" alt="car image"/>
		<h4> (For Cape Town, Paarl & Bellville)</h4>
		<h6>(eg CA 123456, CJ 456-786, CY 789 765)</h6>
	</div>	
    <div class="container">
		<div class="error">
			<p class="error">{{messages.error}}</p>

		</div>
		<form action="/reg_numbers" method="post">
		<input type="text" placeholder="eg. CA 2356 " class="inputText" name="reg"/>
		<button type="submit" class="submit">Add</button>
		</section>
	</form>
<form action="towns" method="post">	
		<section class="filterNumbers">

			<select class="select" name="town">
				<option value="All">All</option>
				<option value="Cape Town">Cape Town</option>
				<option value="Paarl">Paarl</option>
				<option value="Bellville">Bellville</option>
			</select>
			<button type="submit" class="filter">Show</button>
</section>
</form>

<form  action="/" method="get">
<section  class="display">
	{{#each regNums}}
	<p>{{this.regnumber}}</p>
	{{/each}}
	</section>
</form>
<form  action="/reset" method="post">
<button type="submit" class="reset">RESET</button>
</form>
    </div>
	
   
