body{
    background-color: rgba(0,0,0,0.75);
  }
  .container {
  margin: auto;
  width:92%;
  border: 1px solid gold;
  border-radius: 10px 10px;
  background-color:#E6BC43;
  margin-top:5%;
  font-family: monospace;
  box-shadow: 0.7px 1px 2px 1px rgba(0,0,0,0.5);
  }
  
  .input, .filterNumbers{
  margin:20px;
  }
  
  h1{
  font-size: 2.2em;
  background-color: rgba(0,0,0,0.7);
  color: gold;
  }
  
  h4{color:rgba(0,0,0,0.7);
  
  }
  
.error{
color:#E23D4D;

font-family:calibri

}
  .submit{
  
  border:none;
  border-radius: 5px 5px;
  padding: 8px;
  font-size:15px;
  
  }
  
  .filter{	
  background-color:rgba(0,0,0,0.7);
  border:none;
  border-radius: 5px 5px;
  padding: 5px;
  font-size:15px;
  
  }
  
  input{
  background-color:rgba(0,0,0,0.7);
  border: none;
  color: beige;
  border-radius: 5px 5px;
  height: 35px;
  margin-right: 3px; 
  padding:5px;
  margin-left: 20px;
  margin-bottom:15px;
  
  }
  
  
  
  ::placeholder { 
    color: rgb(214, 231, 138);
    opacity: 1; 
  }
  
  :-ms-input-placeholder { 
    color:rgb(214, 231, 138) ;
  }
  
  ::-ms-input-placeholder { 
    color: rgb(214, 231, 138);
  }
  
  select{
  padding: 5px;
  background-color: rgba(0,0,0,0.7);
  margin-right: 3px; 
  font-size:15px;
  border-radius: 5px 5px;
  margin-bottom:30px;
  color: gold;
  }
  
  
  
  
  #heading {
  margin-bottom:40px;
  border: 4px solid rgba(0,0,0,0.7);
  background-color:rgb(250, 231, 123);
  text-align:center;
  border-radius: 10px 10px;
  }
  
  button{color: yellow;
  background-color: rgba(0,0,0,0.7);
  }
  
 .reset{
width: 90%;
margin-left: 5%;
margin-right: 5%;
margin-bottom: 2%;
color: rgba(0,0,0,0.7);
background-color:rgb(250, 231, 123);
font-size: 1.7em;
font-weight: bolder;
border-color:yellow;
font-family: monospace;
border-radius: 7px 7px 7px 7px;



}
  .display{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
padding-left: 40px;

}  
.display  p{
  background-color: rgba(0,0,0,0.7);
  color: rgb(250, 231, 123);
  font-weight: bolder;
font-size: 1em;  
width: 65%;
padding:5px;
font-family: monospace ;



}
  
  @media screen and (min-width:700px){
  
  .container{
  width:54%;
  }
  .displayNumbers{
  width:44%;
  }
  
 
  }
  
